<h1>New restaurant form</h1>

<form method="POST" action="/restaurants">
    Name: <input type="text" name="name">
    Type: <input type="text" name="type">
    Price: <input type="text" name="price">
    <input type="submit" value="Add a restaurant">
</form>